# Телеграм бот
TELEGRAM_BOT_TOKEN=

# VK бот
VK_BOT_TOKEN=
VK_API_VERSION=5.131

# Google Sheets
GOOGLE_SERVICE_ACCOUNT_FILE=data/service_account.json
GOOGLE_SPREADSHEET_ID=
GOOGLE_SPREADSHEET_URL=

# Логирование
LOG_LEVEL=INFO
